*{
    margin: 0;
    padding: 0;
}

table{
    
    width: 90%;
    margin: auto;   
    border: solid 1px #B8B1AB;
    color : #4B4947;
        
}

table td{
  
  border-collapse: collapse;
}


table .titulo td {
    
   text-align: center;
    height: 30px;
    font-size:1.1em;
}

table .subtitulo td{
    font-size:1em;
    padding: 4px;
    
   
}

.logo{
    height: 130px;
    
}


table .tituloi h4{
    text-align: center;
    height: 35px;
    margin-top: 0px;
    font-size: 1.1rem;
    padding-bottom: 0;
}

table .tituloi p{
    text-align: center;
    margin-top: 2px;
    font-size: 1.2rem;
    
}


table .linea_cinco{
    text-align: left;
    font-weight: 600;
    padding-left: 10px;
    
    font-size: 1.1rem;
}

 table  .linea_seis td{
     padding: 5;
    font-size: 1rem;
     font-weight: 600;
    
}

table .linea_Siete {
    
    height: 80px;

}

table .linea_Siete p{
     padding: 5;
    margin-top: -35px;
    font-size: 1.2rem;
}

table .linea_Siete pt{
    padding-left: 25px; 
    font-size: 1.2rem;
}

table .linea_ocho h5 {
    padding-left: 10px;
    padding-top: 2px;
    height: 25px;
    font-size: 1.2rem
    
}

table .vigencia td{
    text-align: center;
    font-size: 1.3rem;
    background-color: #E1E0E0;
    height: 30px;
        
}

table .vigencia_uno h5{
    padding: 1px;
    padding-left: 10px;
    font-size: 1rem;
    height: 25px;
    
}
table .vigencia_uno P {
    padding-left: 5px;
    font-size: 1rem;
     height: 25px;
}

table .vehiculo-titulo td{
    text-align: center;
    font-size: 1.2rem;
     font-weight: 600;
}

table .vehiculo-dato td{
    text-align: left;
    padding-left: 7px;
    height: 30px;
    
}


table .linea_nueve td{
    height: 30px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    
}

table .texto{
    height: 50px;
}
table .firma td{
    height: 100px;
  
     
}

table .firma p{
     text-align: left;
     font-size: 2em;
     padding-left: 5px;
     
}



 .imgqr{
    align-content: center;
    width: 15%;
   
} 

.qr{
	
 }

table .verificacion td{
    padding-left: 25px;
    font-weight: 900;
    font-size: 1.2rem;
    border: 0PX;
}


.MarcaAgua{
    
    margin-top: 200px;
    
    position: absolute;
    
  padding-left: 90px;
/*    padding-right: 250px;*/
    
    
    z-index: 2;
   
}
.textofuec {
    position: absolute;
    z-index: 3; 
    margin-top: 760px;
    font-size: 4em;
    text-shadow:-2px -1px 12px #ffffff;
    

    
}






































































