/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/11/2019, 11:56:11 AM
    Author     : Jesus



*/
.rojo {
  
  animation-name: parpadeo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}


.amarillo {
  
  animation-name: parpadeo;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  150% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   150% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  150% { opacity: 1.0; }
}
/*----------------------------------------------------------------------------------*/


.contratos {
    width: 19%;
    overflow: hidden;
    height: 20%;
    padding: 5px;
    border-style: solid;
}
.contratos h6{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 0px;
}

.contratos span{
    font-size: 1.7em;
}

.contratos img {
    width:35px;
}



/*----------------------------------------------------------------------------------*/

.buss {
   width: 19%;
    overflow: hidden;
    
    padding: 5px;
    border-style: solid;
}
.buss h6{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 0px;
}

.buss span{
    font-size: 1.7em;
  position: relative;
}

.buss img {
    width: 35px;
    
}


/*----------------------------------------------------------------------------------*/

.conductores {
    width: 19%;
    overflow: hidden;
    
    padding: 5px;
    border-style: solid;
}
.conductores h6{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 0px;
}

.conductores span{
    font-size: 1.7em;
  position: relative;
}

.conductores img {
    width: 35px;
    
}


/*----------------------------------------------------------------------------------*/

.licencia {
    width: 19%;
    overflow: hidden;
    
    padding: 5px;
    border-style: solid;
}
.licencia h6{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 0px;
}

.licencia span{
    font-size: 1.7em;
  position: relative;
}

.licencia img {
    width: 35px;
    
}